.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    padding: 20px;
  }
  
  .hero img {
    margin-top: 10px;
    width: 15%;
    height: auto; /* Maintain aspect ratio */
  }
  
  .hero h1 {
    text-align: center;
    max-width: 70%; /* Prevents overly wide text */
    font-size: clamp(2.5rem, 4.5vw, 4.5rem); /* Responsive font size */
    font-weight: 600;
  }
  
  .hero h1 span {
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1);
    -webkit-background-clip: text;
    color: transparent; /* Required for gradient text */
  }
  
  .hero p {
    text-align: center;
    max-width: 80%; /* Limit text width for readability */
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  .hero-actions {
    display: flex;
    gap: 20px;
  }
  
  .hero-actions button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .hero-actions .hero-connect {
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1);
    cursor: pointer;
    border-radius: 30px;
    padding: 25px 45px;
  }
  
  .hero-actions .hero-resume {
    border-radius: 30px;
    padding: 25px 45px;
    border: 2px solid #fff;
    background-color: #161513;
    cursor: pointer;
    
  }
  
  .hero-connect:hover {
    border: 2px solid #fff;
  }
  .hero-resume:hover{
    border-color: #b923e1;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .hero h1 {
      font-size: clamp(2rem, 6vw, 3rem);
    }
  
    .hero img {
      width: 100px;
    }
  
    .hero-actions {
      flex-direction: column;
      gap: 15px;
    }
  }
  